@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* { scrollbar-color: #223244 transparent; scrollbar-width: thin; }
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background: #223244; border-radius: 8px; }
::-webkit-scrollbar-track { background: transparent; }
